@import "tailwindcss";

@theme {
  --color-orange: #ff5f22;
  --color-manatee: #9f9fa9;
  --color-hover: rgba(255, 95, 34, 0.08);
}

@layer base {
  body {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}